.Chat_Space {
  /* height: 98.1vh; */
  flex-shrink: 2;
  height: inherit;
  width: 81.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.7rem;
  z-index: 1;
  gap: 0.2rem;
  background-color: var(--secondary-color);
}

/* Message Style */
.Messages {
  width: 91%;
  padding: 0.1rem 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  overflow-y: auto;
  overflow-anchor: auto;
}

.Messages::-webkit-scrollbar {
  display: none;
}

.ReceivedMessages_Wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  position: relative;
  --displayReactionEmojiButton: none;
}
.ReceivedMessages_Wrapper:hover {
  --displayReactionEmojiButton: flex;
}

.SentMessages_Wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.ReceivedText_Wrapper {
  width: fit-content;
  max-width: 100%;
  min-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  cursor: pointer;
  position: relative;
}

.ReceivedText_Wrapper {
  width: fit-content;
  max-width: 100%;
  min-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.75rem;
  cursor: pointer;
}
.ReceivedMessage_Profile{
  border-radius:50%;
  position:relative;
}

.Reactions {
  display: var(--displayReactionEmojiButton);
  align-items: center;
  justify-content: center;
  position: relative;
}

#ReactionEmoji_Button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
}
#ReactionEmoji_Button :hover {
  color: var(--primary-color);
}

.Reaction_Wrapper {
  display: none;
  position: absolute;
  left: 1rem;
  top: -3rem;
}

.reactionVisible {
  display: block;
}

.SentText_Wrapper {
  display: flex;
  width: fit-content;
  flex-direction: column;
  min-width: 5%;
  max-width: 50%;
  justify-content: end;
  align-items: end;
  gap: 0.7rem;
  cursor: pointer;
  position: relative;
}

.messageimg_wrapper {
  height: 8rem;
  width: fit-content;
  object-fit: contain;
}

.message_img {
  height: inherit;
  width: inherit;
  border-radius: 0.6rem;
}

.messageStyle {
  width: fit-content;
  background-color: var(--primary-color);
  word-wrap: break-word;
  border-radius: 0.4rem;
  line-height: 2.2rem;
  font-size: 0.95rem;
  padding: 0rem 0.5rem;
  position: relative;
}

.reaction {
  height: 1.4rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -0.8rem;
  right: 0.4rem;
  background-color: rgb(221, 218, 218);
  border-radius: 0.7rem;
  /* border:1px solid rgb(35, 34, 34) */
}
.sentMessage_reaction {
  left: 0.4rem;
  background-color: #e1e0e0 !important;
}

.Message_details{
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.received {
  background-color: #e1e0e0;
}

.Messages_Day {
  text-align: center;
  color: #424141;
}

.time {
  font-size: 0.7rem;
  color: #424141;
}

.receivedTime {
  left: 0;
}

.sentTime {
  right: 0;
}

.Options {
  display: none;
  flex-direction: column;
  position: relative;
}

.Options > i {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  text-align: center;
  line-height: 1.3rem;
  border-radius: 50%;
  transition: 0.1s ease-out;
}

.Options > i:hover {
  background-color: rgb(167, 168, 168);
  transition: 0.1s ease-out;
}

.SentMessages_Wrapper:hover > .Options {
  display: flex;
}

.option {
  display: var(--displayOptions, none);
  height: 5rem;
  position: absolute;
  bottom: -5rem;
  background-color: rgb(57, 53, 53);
  border-radius: 0.3rem;
  overflow: hidden;
  z-index: 1;
}

.option > button {
  padding: 0.5rem 0.8rem;
  border: none;
  background: transparent;
  color: white;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(156, 154, 154);
}

.option > button:hover {
  background-color: rgb(26, 25, 25);
  cursor: pointer;
}

#Seen_Message {
  font-size: 0.7vmax;
  color: rgb(89, 88, 88);
}

.GroupMessage_Username{
  font-weight: 700;
  font-size:0.7rem;
  color:rgb(99, 97, 97);
  position:relative;
  top:0.5rem;
}