.Account {
  height: 98vh;
  width: 95vw;
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
}

#Heading {
  width: 97%;
  height: fit-content;
  left: 1rem;
  top: 0.5rem;
  position:relative;
  left:1rem;
}

.Account_Profile{
  width: 100%;
  height:30%;
  background:var(--secondary-color);
  border-radius:0.5rem;
  display: flex;
  justify-content:start;
  align-items: center;
  position:relative;
}

.Account_Image{
  margin-left:4rem;
  display:flex;
  align-items: center;
  gap:3rem;
}

.Profile_Wrapper {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2.4vmax;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;
  border-radius: 50%;
}
.Profile_Wrapper > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid rgb(30, 30, 30);
  position:relative;
}

#Profile_Username{
  font-size:1.2vmax;
  font-weight: 600;

}

.Upload_Button {
  width: 25%;
  height: 22%;
  position: absolute;
  bottom: -0.3rem;
  right: 0.5rem;
  font-size: 1.1vmax;
  background: none;
  border: none;
  overflow: hidden;
}

.Upload_Button:hover {
  color: var(--primary-color);
  cursor: pointer;
}

#profileUpload {
  visibility: hidden;
}

.Account_Info {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:start;
  padding: 1rem 0rem;
  border-radius:0.5rem;
  gap: 2.5rem;
  background:var(--secondary-color)
}

.rows{
  margin-left:4rem;
}
.rows > h4 {
  color:rgb(88, 87, 87)
} 
.rows > h4 > span{
  color:black;
}

#UpdateProfile_Btn{
  position:absolute;
  right:1rem;
  bottom:1rem;
  border:none;
  background-color:var(--primary-color);
  padding:0.7rem 0.5rem;
  border-radius:0.5rem;
  font-size:0.9rem;
  font-weight: 500;
}