.Home_Wrapper {
  height: 90vh;
  width: 99vw;
  /* height: 95vh;
  width: 100vw; */
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.ContentSection {
  height: inherit;
  width: 17%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.7rem;
  background: var(--secondary-color);
  position:relative;
}

.Header {
  height: 8%;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gainsboro;
}

.Heading{
  font-size:1.1rem;
  position:relative;
  /* top:85%; */
  right:28%;
}

.NoChats{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap:0.5rem;
  color:gainsboro;
}

.NoChats > i{
  font-size:5vmax;
}

.NoChats > span{
  font-size:1.1vmax;
}

.Create_Group_Btn{
  height:2.5rem;
  width:2.5rem;
  border-radius:50%;
  text-align:center;
  line-height:1rem;
  border:none;
  background:none;
  font-size:1.4rem;
  position:absolute;
  right:1rem;
  bottom:1rem;
  background-color:var(--primary-color);
  transition:all 0.5s ease-in 5s;
  cursor:pointer;
}

.Create_Group_Btn:hover{
  &::before{
    content:"Create Group";
    height: 1.3rem;
    width:5rem;
    position:absolute;
    top:-1.4rem;
    left:-1rem;
    z-index: 1;
    font-size:0.7rem;
    font-weight:500;
    border-radius:0.3rem;
    color:white;
    line-height:1.3rem;
    font-style:italic;
    background-color:rgb(45, 44, 44);
    opacity:0;
    animation:visible 0s forwards;
    animation-delay: 0.5s;
  }
}

@keyframes visible{
  to{
    opacity:1;
  }
}