.Home_Wrapper {
  height: 95vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5rem;
}

.ContentSection {
  height: inherit;
  width: 17%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background: var(--secondary-color);
}

.Header {
  height: fit-content;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 
.Account {
  position: absolute;
  right: 1rem;
  top: 53%;
  transform: translateY(-50%);
  color: black;
} */

.Search_Form {
  width: 95%;
  height: 3.5%;
  background-color: rgb(251, 249, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  overflow: clip;
  border: 1px solid black;
}

#search_label {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#search_input {
  width: 80%;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;

  &:focus {
    outline: none;
  }
}

#search_btn {
  height: 100%;
  font-size: 1rem;
  padding: 0rem 0.6rem;
  background-color: transparent;
  border: none;
}

/*  Message Box  */
