.App_Symbol {
  font-family: Beverage;
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  background: var(--primary-gradient);
  color: transparent;
  background-clip: text;
  width: 10rem;
  text-align: center;
}

nav {
  width: 99%;
  height: 6.5%;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-size: 1.35vmax;
  border-radius: 0.6rem;
  position: relative;
}

.Nav_Options {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
}

.Search_Form {
  width: 30%;
  height: 60%;
  background-color: rgb(251, 249, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.45rem;
  overflow: clip;
  background-color: rgba(234, 234, 234, 0.723);
}

#search_label {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#search_input {
  width: 90%;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

#search_btn {
  height: 100%;
  font-size: 1rem;
  padding: 0rem 0.6rem;
  background-color: transparent;
  border: none;
}

.Icons_Wrapper {
  width: 8%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;

  --icons-width: 50%;
  --icons-height: 100%;
}

.Anchor {
  height: var(--icons-height);
  width: var(--icons-width);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0.6rem;
  color: rgb(0, 0, 0);
  transition: 0.2s ease-out;
  background: none;
  border: none;
  font-size: 1.35rem;
}

.Anchor:hover {
  transition: 0.1s ease-in;
  background-color: var(--primary-color);
  color: black;
}

.selectedPage {
  color: black;
  background-color: var(--primary-color) !important;
}

.Logout_Btn {
  height: var(--icons-height);
  width: var(--icons-width);
  font-size: 1.4vmax;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: 0.1s ease-out;
  background-color: transparent;
  border: none;
  &:hover {
    transition: 0.1s ease-out;
    background-color: var(--primary-color);
  }
}

@media only screen and (max-width: 500px) {
  .App_Symbol {
    font-size: 2.9rem;
    width: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .Nav_Options{
    width:96%;
  }

  .Icons_Wrapper {
    width: 15%;
    gap:1.5rem;
  }

  .Anchor{
    font-size: 1.95rem;
  }
}
