.Home_Wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.Navbar {
  height: inherit;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-top: 1.5rem;
}

.Header {
  height: fit-content;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Account {
  position: absolute;
  right: 1rem;
  top: 53%;
  transform: translateY(-50%);
  color: black;
}

.Search_Form {
  width: 95%;
  height: 4.5%;
  background-color: rgb(251, 249, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  overflow: clip;
}

#search_label {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#search_input {
  width: 80%;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;

  &:focus {
    outline: none;
  }
}

#search_btn {
  height: 100%;
  font-size: 1.15rem;
  padding: 0rem 0.6rem;
  border: none;
}

.Chat_Friends {
  height: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1.5rem 0rem;
}

.Chat_Friends::-webkit-scrollbar {
  display: none;
}

.User_Wrapper {
  height: 11%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid white;
  border-radius: 0.3rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  gap: 1rem;
  cursor: pointer;
  transition: 0.1s ease-out;

  &:hover {
    background-color: var(--secondary-color);
    transition: 0.1s ease-out;
  }
}

.User_Wrapper figure i {
  font-size: 1.8rem;
}

.User_Details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  & > h2 {
    font-size: 1.18vmax;
  }

  & > p {
    color: #3d3d3d;
  }
}

.Chat_Space {
  height: 100%;
  width: 80%;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.Chat_header {
  height: 8%;
  width: 90%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 0.8rem;
}

.profile h1 {
  font-size: 1.3vmax;
}

.profile i {
  font-size: 1.8vmax;
}

.Chat_main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat_messages {
  height: 93.5%;
}

.message_form {
  height: 5%;
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  border: 2px solid black;
}

#message_label {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#message_input {
  width: 90%;
  font-size: 1.1vmax;
  padding: 0rem 1rem;
  border: none;
  &:focus {
    outline: none;
  }
}

#sendMessage_button {
  height: 100%;
  width: 4%;
  transform: scale(1.1);
  position: absolute;
  right: -3rem;
  font-size: 2.1vmin;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  line-height: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-hover-color);
  }
}
