.Search_Users {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.Search_Users > .Search_Form {
  width: 90%;
  height: 100%;
  background-color: rgb(251, 249, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.45rem;
  overflow: clip;
  /* border: 1px solid black; */
  background-color: rgba(234, 234, 234, 0.723);
}

@media only screen and (max-width: 500px) {
  .Search_Users {
    height: 2.5rem;
  }
}
