@font-face {
  font-family: Beverage;
  src: url(./assets/LT\ Beverage.otf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/Inter-Regular.otf);
}

* {
  padding: 0;
  margin: 0;
  --primary-gradient: linear-gradient(to bottom right, #f79f58 0%, #ff6a0d 50%);
  --primary-color: #ff7a28;
  --primary-hover-color:#e05b09;
  --secondary-color: #f9faf9;
}

body {
  color: black;
  font-family:Inter;
  overflow: clip;
  background-color: #e1e0e0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}

.AppName {
  font-family: Beverage;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  background: var(--primary-gradient);
  color:transparent;
  background-clip: text;
}