
@font-face {
  font-family: Beverage;
  src: url(./assets/LT\ Beverage.otf) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url(./assets/Inter-Regular.otf) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: SF-Pro;
  src: url(./assets/SF-Pro.OTF) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: SF-Bold;
  src: url(../../assets/SFPRODISPLAYREGULAR.OTF) format("woff2");
  /* font-display: swap; */
}

* {
  padding: 0;
  margin: 0;
  --primary-gradient: linear-gradient(to top right, #fca258 0%, #ff690b 80%);
  --primary-color: #ff6a0d;
  --primary-hover-color: #eb5d04;
  --secondary-color: #f9faf9;
}

body {
  color: black;
  font-family: SF-Pro;
  overflow: clip;
  background-color: #e6e4e4;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 0rem;
  padding: 0rem;
  gap: 0.5rem;
}

.AppName {
  font-family: Beverage;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  background: var(--primary-gradient);
  color: transparent;
  background-clip: text;
}


.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.loader {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #fdfcfc 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #fdfcfc);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
