@font-face {
  font-family: Beverage;
  src: url(./assets/LT\ Beverage.otf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/Inter-Regular.otf);
}

* {
  padding: 0;
  margin: 0;
  --primary-gradient: linear-gradient(to bottom right, #65e3bb 0%, #0ba360 100%);
  --primary-color: #3cba92;
  --primary-hover-color:#0d9167;
  --secondary-color: #ecfffe;
}

body {
  color: black;
  font-family:Inter;
  overflow: clip;
  background-color: #f8f4f4;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#AppName {
  font-family: Beverage;
  font-size: 3.1rem;
  letter-spacing: 0.3rem;
}
