.SendMessageFrom_Wrapper {
  /* height: 6%; */
  height:8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.message_form {
  height: 100%;
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3rem;
}

#message_label {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  margin: -1;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#message_input {
  height: 80%;
  width: 100%;
  /* border: 1px solid rgb(84, 84, 84); */
  background-color:rgb(231, 228, 228);
  font-size: 1.1vmax;
  border-radius: 0.7rem;
  padding: 0rem 1rem;
  border:none;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

#ImageInputFor > input {
  visibility: hidden;
}

#ImageInputFor {
  width: 3%;
  height: 80%;
  display: flex;
  align-items: center;
  z-index: 2;
}
#ImageIcon {
  font-size: 1.3rem;
  transition: 0.1s ease-out;
  background-color: transparent;
  border: none;
}
#ImageIcon:hover {
  color: var(--primary-color);
  transition: 0.1s ease-out;
  cursor: pointer;
}

#sendMessage_button {
  height: 70%;
  width: 5%;
  transform: scale(1.1);
  position: relative;
  right: 0.1rem;
  font-size: 2.1vmin;
  border-radius: 1.2rem;
  text-align: center;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-hover-color);
  }
}

@keyframes slideInPreview {
  0% {
    left: 45%;
    top: -6rem;
    opacity: 0;
    transform: translate(-50%,25%);
  }
  
  
  100% {
    left: 45%;
    top: -6rem;
    transform: translate(-50%,0%);
    opacity: 1;
  }
}

.Preview_Wrapper {
  height: 110px;
  width: 70%;
  position: absolute;
  left: 45%;
  top: -6rem;
  transform: translate(-50%,0%);
  background-color: rgb(27, 26, 26);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  animation: slideInPreview 0.2s ease-out;
  padding-top:0.2rem;
}

.Preview {
  height: 85%;
  width:fit-content;
  position: relative;
}

.Preview_Img{
  height:100%;
  width:100%;
  object-fit: contain;
}

.Cancel_Button {
  background: none;
  border: none;
  color: white;
  position: absolute;
  top: -0.1rem;
  right: -1rem;
  cursor: pointer;
}

.Cancel_Button:hover {
  color: rgb(182, 179, 179);
}

.Emoji_Wrapper{
  height:27.5rem;
  width:90%;
  position:absolute;
  bottom:95%;
  left:0;
  display:flex;
  flex-direction:row-reverse
}



#Emojis{
  background:transparent;
  border:none;
  font-size:1.3vmax;
  cursor:pointer;
  &:hover{
    color:var(--primary-hover-color)
  }
  &:active{
    color:#fe6506;
  }
}


/**** Typing Animation ****/


.typing {
  align-items: center;
  display: flex;
  height: 1.7rem;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #121212 ;
  border-radius: 50%;
  height: 5px;
  margin-right: 4px;
  vertical-align: middle;
  width: 5px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
  }
  28% {
    transform: translateY(-7px);
  }
  44% {
    transform: translateY(0px);
  }
}


